<p id="notice"><%= notice %></p>

<h1>Ideas</h1>
<%= link_to 'New Idea', new_idea_path %>
<div>
<table>
  <thead>
    <tr>

      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td>
         <%= link_to idea do %>
           <div class ="cover" style= "background-image:url( <%= idea.picture_url %>)"></div>
         <% end %>
    
    
        </td>   
      </tr>
    <% end %>
  </tbody>
</table>
</div>
          
<br>


